body {
  font-family: "Droid Sans", sans-serif;
  background: url('http://i.imgur.com/D9WABdu.png');
}
.backbutton a {
  font-size: 12px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
  color: purple;
}
.twitterfeed {
  float: right;
  width: 520px;
}
.credits a {
  color: yellow;
}
.credits h3 {
  color: crimson;
}
.credits li {
  display: table;
  color: white;
}
.ot h3 {
  color: crimson;
}
.ot li {
  display: table;
  color: white;
}
.ot a {
  color: yellow;
}
