body {
  font-family: "Droid Sans", sans-serif;
  background: url('http://i.imgur.com/D9WABdu.png');
}
.credits a {
  color: #100;
}
.credits h3 {
  text: underline;
  color: crimson;
}
.credits li {
  display: table;
  color: white;
}
.ot h3 {
  color: crimson;
}
.ot li {
  display: table;
}
