body {
	background-image: url('http://i.imgur.com/D9WABdu.png');
	height: 900px;
	background-position: -20000px;
}
.jumbotron .sign {
	color: #55acee;
	font-size: 20px;
	font-family: "comic sans ms";
}
.jumbotron h1 {
	color: #900;
}
.jumbotron li {
	color: white;
	display: table;
}
.jumbotron .container {
	color: white;
}
.links h3 {
	color: white;
}
.links li {
	display: table;
}
.links a {
	color: #55acee;
}
.twitterfeed {
	padding-left: 200px;
	margin-bottom: 2000px;
}
