body {
	background-image: url('http://i.imgur.com/D9WABdu.png');
	font-family: "Droid Sans", sans-serif;
}
.jumbotron .sign {
	color: #55acee;
	font-size: 20px;
	font-family: "Gloria Hallelujah", cursive;
}
.jumbotron h1 {
	color: #900;
}
.jumbotron li {
	color: white;
	display: table;
}
.jumbotron .container {
	color: white;
}
.links h3 {
	color: white;
}
.links li {
	display: table;
}
.links a {
	color: #55acee;
}
.twitterfeed {
	float:right;
    width:520px;
    /*Height cannot be changed here and must be done on the Twitter Widgets page*/
}
